<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Specify the default location for where packages will be downloaded and referenced from -->
  <config>
    <add key="repositoryPath" value="packages" />
    <add key="globalPackagesFolder" value="packages" />
  </config>
  
  <!-- Tell Nuget to automatically create a binding redirect for dependency resolution where applicable. -->
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
	<!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  
  <!-- Specify the default Sources for downloading packages -->
  <packageSources>
	<clear />
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  
  <!-- All non-disabled package sources found in any chain of Nuget.Config files are active -->
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
  <!-- Ensure the packages folder is not included in source control -->
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  
  
  <packageManagement>
   <!-- A Format Value of '1' indicates use PackageReference, '2' would be for the older packages.config style --> 
   <add key="format" value="1" />
   <!-- Disable prompt for specifying a default package format on first package install --> 
   <add key="disabled" value="False" />
  </packageManagement>

</configuration>